* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #C8B8A9;
}

.countainer {
    max-width: 670px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 30px;
    gap: 20px;
}

